.landing {
  font-family: var(--paragraph-small-regular);
}

.label1 {
  all: unset;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--neutral-900);
  width: 100vw;
  padding: var(--padding-21xl) 0;
  gap: var(--gap-29xl);
}

/* Form header */
.form-header {
  width: 73%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}

.form-header-title {
  font-size: var(--heading-h4-bold-size);
  margin-bottom: 0;
}

.form-header-paragraph {
  font-size: var(--paragraph-medium-regular-size);
  color: var(--neutral-500);
  margin-top: 0;
}

/* contactus form */
.contactus-form {
  width: 73%;
  display: flex;
  flex-wrap: wrap;
}

.contactus-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: var(--gap-5xs);
  margin-bottom: var(--gap-13xl);
}

.contactus-form input {
  width: 90%;
  outline: none;
  padding: var(--padding-xs) var(--padding-3xs);
  border-radius: var(--br-7xs);
  border: 1px solid var(--neutral-200);
}

.contactus-form input:hover {
  background-color: var(--color-gray-100);
}

.contactus-form input:focus,
.mensaje-label textarea:focus {
  border-color: var(--secondary-500-main);
}

.contactus-form input::placeholder,
.mensaje-label textarea::placeholder {
  color: var(--neutral-400);
  font-family: var(--paragraph-small-regular);
}

.contactus-form #email,
.contactus-form #telefono {
  width: 95%;
}

.mensaje-label {
  width: 100%;
}

.mensaje-label textarea {
  width: 97.5%;
  outline: none;
  padding: var(--padding-xs) var(--padding-3xs);
  border-radius: var(--br-7xs);
  border: 1px solid var(--neutral-200);
  height: 160px;
  resize: none;
}

.contactus-form span {
  color: var(--neutral-700);
  font-size: var(--paragraph-medium-regular-size);
  font-weight: 500;
}

.submit-btn {
  width: 18%;
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--secondary-500-main);
  border-radius: var(--br-7xs);
  font-size: var(--paragraph-small-regular-size);
  font-weight: 500;
  color: var(--generic-white);
}

.policy-paragraph {
  font-size: var(--overline-small-size);
  color: var(--neutral-400);
  margin-top: var(--padding-xl);
}

@media screen and (max-width: 1024px) {
  .form-header {
    width: 90vw;
  }

  .contactus-form {
    width: 90vw;
  }

  .submit-btn {
    width: 25%;
  }
}

@media screen and (max-width: 640px) {
  .form-header {
    width: 95vw;
  }

  .contactus-form {
    width: 95vw;
    flex-direction: column;
  }

  .contactus-form label {
    width: 100%;
  }

  .contactus-form input {
    width: 95%;
  }

  .mensaje-label textarea {
    width: 95%;
  }

  .submit-btn {
    width: 40%;
  }

  .policy-paragraph {
    text-align: justify;
  }
}
