/* about */
.about-container {
  width: 60vw;
  padding: var(--padding-35xl) var(--padding-61xl);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--paragraph-small-regular);
}

.about-title {
  color: var(--neutral-900);
  font-size: var(--heading-h5-regular-size);
}

.about-paragraph {
  padding: 0 var(--padding-61xl);
  color: var(--neutral-400);
  font-size: var(--paragraph-large-regular-size);
  text-align: center;
}

/* what is guatapay */
.guatapay-container {
  width: 100vw;
  margin: auto;
  padding: var(--padding-61xl) 0;
  background-color: var(--neutral-100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
  font-family: var(--paragraph-small-regular);
}

.guatapay-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.guatapay-info-span {
  color: var(--secondary-500-main);
  font-size: var(--overline-small-size);
  font-weight: 500;
}

.long-screen-info {
  color: var(--neutral-900);
  font-size: var(--heading-h5-regular-size);
  font-weight: 700;
}

.mobile-info {
  display: none;
}

/* we believe */
.we-believe-container {
  width: 50vw;
  padding: var(--padding-35xl) var(--padding-61xl);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--paragraph-small-regular);
}

.we-believe-paragraph {
  color: var(--neutral-9001);
  font-size: var(--paragraph-medium-regular-size);
  text-align: center;
}

/* currencies */
.currencies-container {
  width: 70vw;
  margin: auto;
  padding: var(--padding-61xl) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-21xl);
  font-family: var(--paragraph-small-regular);
}

.currencies-paragraph {
  color: var(--neutral-500);
  font-size: var(--paragraph-medium-regular-size);
  font-weight: 700;
  text-align: center;
}

.coins {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: var(--gap-5xl);
}

/* our-service */
.our-service-container {
  width: 70vw;
  margin: auto;
  padding: var(--padding-61xl) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-21xl);
  font-family: var(--paragraph-small-regular);
}

.our-service-paragraph {
  color: var(--destructive-500);
  font-size: var(--paragraph-medium-regular-size);
  text-align: center;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  /* about */
  .about-container {
    width: 90vw;
    padding-left: 0;
    padding-right: 0;
  }

  /* what is guatapay */
  .guatapay-container {
    gap: var(--gap-base);
  }

  /* we believe */
  .we-believe-container {
    width: 75vw;
  }

  /* our-service */
  .our-service-container {
    width: 80vw;
  }
}

@media screen and (max-width: 640px) {
  /* about */
  .about-container {
    width: 100vw;
  }

  .about-paragraph {
    padding: 0 var(--padding-xl);
  }

  /* what is guatapay */
  .guatapay-container {
    width: 85vw;
    padding: var(--padding-5xl) var(--padding-base);
    border-radius: var(--br-base);
    flex-direction: column;
  }

  .about-image {
    border-radius: var(--br-xs);
  }

  .guatapay-info {
    width: 100%;
  }

  .guatapay-info-span {
    display: none;
  }

  .long-screen-info {
    display: none;
  }

  .mobile-info {
    display: inline;
    color: var(--neutral-900);
    font-size: var(--paragraph-medium-regular-size);
    text-align: center;
    line-height: var(--gap-5xl);
  }

  /* we believe */
  .we-believe-container {
    width: 95vw;
    padding: var(--padding-35xl) var(--padding-3xs);
    margin: 0;
  }

  .we-believe-paragraph {
    color: var(--neutral-400);
    line-height: var(--gap-5xl);
  }

  /* currencies */
  .currencies-container {
    display: none;
  }

  /* our-service */
  .our-service-container {
    display: none;
  }
}
